[general]

smile.png
biggrin.png
angry.png
mad.gif
sad.png
mellow.png
ohmy.png
blink.png
closedeyes.gif
shock.gif
cry.gif
glare.gif
unsure.png
happy.png
huh.png
hyst.gif
smoking.gif
smoking2.gif
wacko.png
wink.png
wub.png
ninja.png
lol.gif
grin2.gif
grin.gif
loud.gif
exult.gif
prankster.gif
facepalm.gif
vava.gif
acute.gif
applause.gif
clapping.gif
bayan.gif
dntknw.gif
dntknw2.gif
popcorn.gif
ok.gif
good.gif
noddle.gif
bye.gif
goodbuy.gif
tease.gif
reverence.gif
no.gif
sadwink.gif
scratchhead.gif
fool.gif
stop.gif
grimace.gif
beee.gif
blum.gif
fear.gif
threaten.gif
frown.gif
fuckoff.gif
blush.gif

[sql.ru]

zlaugh.gif
zbiggrin.gif
zbigeyes.gif
zsmoke.gif
zcry.gif

[drinking]

beer.gif
beer2.gif
drinks.gif
drinktwo.gif
drinktwo2.gif
vodka.gif
vanya.gif
harmon.gif
alkash.gif
alik.gif

[toilet]

sliv.gif
wcbusy.gif
wcgirl.gif
wcman.gif
bluet.gif
bluet_girl.gif

[sex]

tits.gif
showtits.gif
dreamtits.gif
lickme.gif
fuck.gif
hotsex.gif
sex.gif
fuckhorse.gif
vpizdu.gif
pussy.gif
huy.gif

[girls]

whiteflag.gif
clister.gif
friends.gif
knife.gif
punish.gif
sekret.gif
star.gif
slap.gif
reveranse.gif
applause_girl.gif
daipyat.gif
fan.gif
hysterics.gif
jump.gif
love.gif
angrygirl.gif
girl_haha.gif
bobruisk.gif
crygirl.gif
girlfriends.gif
kiss.gif
kiss2.gif
rosaglasses.gif
trail.gif
itman.gif

[nations]

russian.gif
hohol.gif
ukr.gif
rus.gif
gruzin.gif
hatch.gif
sholom.gif

[religion]

inqusition.gif
prister.gif
pray.gif
praygirl.gif
shaman.gif
prayers.gif

[streamers]

plusone.gif
wantban.gif
selfban.gif
spam.gif
oops.gif
siski.gif
babu.gif
nahui.gif
sarcasm.gif
zhest.gif
moder.gif
