/* write yout adjustments here */

.ascii_art 
{ 
  font-family: "Courier New";
  display: inline-block; 
  border-radius: 2px; 
  padding: 5px; 
  font-weight: normal;
  text-rendering: optimizeSpeed;
}

span.kroleg_pipe 
{ 
  background-color: #343434; 
  border-radius: 15px; 
  padding: 0px 7px 1px 7px; 
  font: normal 1em Arial; 
  display: inline-block; 
}

.post_table .avatar_container img.kroleg_pipe 
{ 
  border-radius: 2px; 
}
