#

ErrorDocument 404 https://nosql.ru/

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteRule "^robots\.txt$"  "robots/%{HTTP_HOST}.txt"  [NS]
RewriteRule "^sitemap\.xml$" "sitemap/%{HTTP_HOST}.xml" [NS]

#####

#RewriteRule "^forum\-old/view_bot_profile\.php" "http://127.0.0.1" [NS]
#RewriteRule "^forum/view_bot_profile\.php" "http://127.0.0.1" [NS]

#RewriteRule "^forum\-old/ajax/load_browser_stats\.php" "http://127.0.0.1" [NS]
#RewriteRule "^forum/ajax/load_browser_stats\.php" "http://127.0.0.1" [NS]

#
#RewriteRule "^forum\-old/load_statistics\.php" "http://127.0.0.1" [NS]
#RewriteRule "^forum/load_statistics\.php" "http://127.0.0.1" [NS]
#RewriteRule "^forum\-old/statistics\.php" "http://127.0.0.1" [NS]
#RewriteRule "^forum/statistics\.php" "http://127.0.0.1" [NS]
RewriteRule "^forum\-old/search_topic\.php" "http://127.0.0.1" [NS]
#RewriteRule "^forum/search_topic\.php" "http://127.0.0.1" [NS]

#####

</IfModule>
#
