[General]

smile.png
biggrin.png
biggrin2.gif
lol.gif
grin2.gif
girl_laugh.gif
grin.gif
loud.gif
loud2.gif
prankster.gif
laugh.png
laugh2.gif
laugh3.gif
bounce.gif
wink.png
glare.gif
happy.png
closedeyes.gif
rolleyes.gif
nya.gif
wub.png
love2.gif
smoking.gif
smoking2.gif
smoking3.gif
smoking4.gif
peka.gif

sad.png
unsure.png
mellow.png
huh.png
sadwink.gif
wacko.png
cry.gif
cry2.gif
hyst.gif
girl_cray.gif
girl_hyst.gif
angry.png
angry2.gif
mad.gif
mad2.gif
ireful.gif
ireful2.gif
ireful3.gif
ireful4.gif
blush.png
blush2.gif
blink.png
ninja.png
ohmy.png
shock.gif
scare.gif
scare2.gif
fear.gif
fie.gif
swoon.gif
bayan.gif
bayan2.gif
popcorn.gif
popcorn2.gif
girl_popcorn.gif

zlaugh.gif
zbiggrin.gif
zbigeyes.gif
zsmoke.gif
zcry.gif
cat2.gif
cat_happy.gif

[Gestures]

facepalm.gif
facepalm2.gif
applause.gif
girl_applause.gif
love.gif
air_kiss.gif
clapping.gif
reverence.gif
girl_reverence.gif
noddle.gif
ok.gif
yes.gif
plusone2.gif
good.gif
good2.gif
girl_good.gif
bad.gif
bye.gif
goodbuy.gif
girl_bye.gif
dntknw.gif
dntknw2.gif
girl_dntknw.gif
dntknw3.gif
nunu.gif
thinking.gif
thinking2.gif
girl_thinking.gif
whistle.gif
scratchhead.gif
umnik.gif
fool.gif
acute.gif
stop.gif
no.gif
nee.gif
nono.gif
girl_nono.gif
tongue.png
grimace.gif
grimace2.gif
blum.gif
girl_grimace.gif
tease.gif
beee.gif
fuckoff.gif
fuckoff2.gif
figvam.gif
taunt.gif
tuda.gif
threaten.gif
threaten2.gif
girl_angry.gif
daipyat.gif
girl_boy_5.gif
girl_girl_5.gif
girl_pan.gif
skalka.gif
chicken.gif
exult.gif
glad_dance.gif
hippi.gif
nosepick.gif
pont.gif
pont2.gif
fingers.gif
quotes.gif
privet.gif
selfpraise.gif
secret.gif
silent.gif
frown.gif
frown2.gif
foxy.gif
ku.gif
ku2.gif

[Drinking]

beer.gif
beer2.gif
drink.gif
kefir.gif
girl_drink.gif
burp.gif
drinktwo.gif
vodka.gif
vanya.gif
vanya2.gif
harmon.gif
ensemble.gif
alkash.gif
alik.gif

[Toilet]

sliv.gif
wcbusy.gif
girl_wc.gif
wcman.gif
bluet.gif
bluet2.gif
girl_bluet.gif
girl_stink.gif
pisaet.gif
pisaet2.gif

[Sex]

tits.gif
bubs.gif
whiteflag.gif
showtits.gif
dreamtits.gif
piska.gif
lickme.gif
fuck.gif
fuck2.gif
fuck3.gif
fuck4.gif
bdsm.gif
bdsm2.gif
hotsex.gif
sex.gif
kabluk.gif
fuckhorse.gif
vpizdu.gif
pussy.gif
huy.gif
fuckfoot.gif
girl_foot.gif
showpenis.gif
gays.gif

[Girls]

girl_laugh.gif
girl_dntknw.gif
girl_cray.gif
girl_hyst.gif

clister.gif
ukol.gif
girl_reverence.gif
girl_applause.gif
hysterics.gif
girl_thinking.gif
girl_good.gif
love.gif
air_kiss.gif
air_kiss2.gif
air_love.gif
girl_angry.gif
girl_nono.gif
girl_grimace.gif
girl_hear.gif
girl_bye.gif
kiss.gif
kiss2.gif
kiss_hand.gif
kiss_love.gif
friends.gif
girl_friends.gif
sekret.gif
girl_girl_5.gif
girl_boy_5.gif
slap.gif
embrace.gif
girl_embrace.gif
dance.gif
girl_swirl.gif
girl_rain.gif
girl_drink.gif
girl_fight.gif
girl_fight2.gif
girl_pan.gif
skalka.gif
skalka1.gif
skalka2.gif
rosaglasses.gif
trail.gif
girl_hair_off.gif
itman.gif
punish.gif
girl_angel.gif
girl_angel2.gif
korolevna.gif
girl_cool.gif
girl_blush.gif
girl_blush2.gif
girl_cleanglasses.gif
girl_kitty.gif
girl_spruce_up.gif
girl_nails.gif
fan.gif
girl_haircut.gif
girl_lust.jpg
girl_sluna.gif
girl_pirate.gif
girl_popcorn.gif
girl_jump.gif
girl_parting.gif
girl_osen.gif
smell_flower.gif
girl_mail.gif
girl_poke.gif
girl_poke2.gif
girl_hoop.gif
girl_rope.gif
girl_tennis.gif
skates.gif
girl_shutup.gif
girl_pray.gif
girl_witch.gif
girl_coffee.gif
girl_coffee2.gif
eat_dream.gif
eat_dream2.gif
girl_ill.gif
girl_sleep.gif
girl_sleep2.gif
girl_wc.gif
girl_bluet.gif
girl_stink.gif
whiteflag.gif
girl_support.gif
burp.gif
pilit.gif
drive_off.gif
knife.gif
hozyaika.gif
girl_foot.gif
rusalka.gif
girl_feminist.gif
glamour.gif
bobruisk.gif
zhest.gif

[Nations]

russian.gif
hohol.gif
hohol2.gif
hohol3.gif
hohol4.gif
ukr.gif
rus.gif
patriot.gif
patriot2.gif
ukrpatriot.gif
belarus.gif
american.gif
vatnik.gif
harmon.gif
gruzin.gif
gruzin2.gif
hatch.gif
sholom.gif
sholom2.gif
papuas.gif
papuas2.gif
indian.gif
paranja.gif
sumo.gif

[Religion]

inqusition.gif
prister.gif
funeral.gif
pray.gif
girl_pray.gif
shaman.gif
prayers.gif
dzen.gif
budda.gif
girl_angel2.gif
angel.gif
devil.gif
cupidboy.gif
cupidgirl.gif
nun.gif

[Posters]

plusone.gif
wantban.gif
selfban.gif
closed.gif
spam.gif
oops.gif
siski.gif
piska.gif
preved.gif
babu.gif
drochish.gif
nahui.gif
ahuet.gif
bobruisk.gif
sarcasm.gif
zhest.gif
girl_feminist.gif
moder.gif
moder2.gif
thanks.gif
iamsorry.gif
namot.gif
dinnahu.gif

[Sport]

rope.gif
girl_rope.gif
girl_hoop.gif
girl_rope.gif
girl_tennis.gif
skates.gif
boxing.gif
boxing2.gif
chess.gif
cycle.gif
ganteli.gif
swim.gif
kungfu.gif
