.multiselect_control
{
  overflow-x: hidden;
  overflow-y: scroll;
  cursor: pointer;
  background-color: white;
  box-sizing: border-box;
}

.multiselect_control div
{
  width: 2000px;
  overflow: hidden;
  padding-left: 4px;
  box-sizing: border-box;
}

.multiselect_control div.selected
{
  color: white;
  background-color: #3399FF;
}
